

 @font-face {
  font-family: "Museo Slab";
  src: local("Museo Slab 100"), local("Museo-Slab-100"),
    url("../fonts/MuseoSlab-100.woff2") format("woff2"),
    url("../fonts/MuseoSlab-100.woff") format("woff"),
    url("../fonts/MuseoSlab-100.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Museo Slab Italic 100";
  src: local("Museo Slab Italic 100"), local("Museo-Slab-Italic-100"),
    url("../fonts/MuseoSlab-100Italic.woff2") format("woff2"),
    url("../fonts/MuseoSlab-100Italic.woff") format("woff"),
    url("../fonts/MuseoSlab-100Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Museo Slab 300";
  src: local("Museo Slab 300"), local("Museo-Slab-300"),
    url("../fonts/MuseoSlab-300.woff2") format("woff2"),
    url("../fonts/MuseoSlab-300.woff") format("woff"),
    url("../fonts/MuseoSlab-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Museo Slab Italic 300";
  src: local("Museo Slab Italic 300"), local("Museo-Slab-Italic-300"),
    url("../fonts/MuseoSlab-300Italic.woff2") format("woff2"),
    url("../fonts/MuseoSlab-300Italic.woff") format("woff"),
    url("../fonts/MuseoSlab-300Italic.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Museo Slab 500";
  src: local("Museo Slab 500"), local("Museo-Slab-500"),
    url("../fonts/MuseoSlab-500.woff2") format("woff2"),
    url("../fonts/MuseoSlab-500.woff") format("woff"),
    url("../fonts/MuseoSlab-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Museo Slab Italic 500";
  src: local("Museo Slab Italic 500"), local("Museo-Slab-Italic-500"),
    url("../fonts/MuseoSlab-500Italic.woff2") format("woff2"),
    url("../fonts/MuseoSlab-500Italic.woff") format("woff"),
    url("../fonts/MuseoSlab-500Italic.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Museo Slab 700";
  src: local("Museo Slab 700"), local("Museo-Slab-700"),
    url("../fonts/MuseoSlab-700.woff2") format("woff2"),
    url("../fonts/MuseoSlab-700.woff") format("woff"),
    url("../fonts/MuseoSlab-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Museo Slab Italic 700";
  src: local("Museo Slab Italic 700"), local("Museo-Slab-Italic-700"),
    url("../fonts/MuseoSlab-700Italic.woff2") format("woff2"),
    url("../fonts/MuseoSlab-700Italic.woff") format("woff"),
    url("../fonts/MuseoSlab-700Italic.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Museo Slab 900";
  src: local("Museo Slab 900"), local("Museo-Slab-900"),
    url("../fonts/MuseoSlab-900.woff2") format("woff2"),
    url("../fonts/MuseoSlab-900.woff") format("woff"),
    url("../fonts/MuseoSlab-900.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Museo Slab Italic 900";
  src: local("Museo Slab Italic 900"), local("Museo-Slab-Italic-900"),
    url("../fonts/MuseoSlab-900Italic.woff2") format("woff2"),
    url("../fonts/MuseoSlab-900Italic.woff") format("woff"),
    url("../fonts/MuseoSlab-900Italic.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Museo Slab 1000";
  src: local("Museo Slab 1000"), local("Museo-Slab-1000"),
    url("../fonts/MuseoSlab-1000.woff2") format("woff2"),
    url("../fonts/MuseoSlab-1000.woff") format("woff"),
    url("../fonts/MuseoSlab-1000.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Museo Slab Italic 1000";
  src: local("Museo Slab Italic 1000"), local("Museo-Slab-Italic-1000"),
    url("../fonts/MuseoSlab-1000Italic.woff2") format("woff2"),
    url("../fonts/MuseoSlab-1000Italic.woff") format("woff"),
    url("../fonts/MuseoSlab-1000Italic.ttf") format("truetype");
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;

} 

body {
  font-family: "Museo Slab 500";
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
}


.navbar {
  background-color: transparent;
  height: 100px;
  padding-left: 5%;
  padding-right: 5%;
}

.menu-nav-full{
  margin: 0;
  padding: 0;
  color: #aa6e47;
}

.main-menu-nav{
  margin:0;
}

.logo-img{
  height: auto;
  width: 150px;
  display: none;
}

.oct-mobile{
  display: none;
  height: 60px;
  width: auto;
  margin-right: 75px;
  padding-bottom: 8px;
}
.main-nav li {
  text-align: center;
  margin: 15px auto;
}



.nav-item-full{
list-style: none;
font-size: 25px;
margin-left: 25px;
}
li a {
  text-decoration: none;
  font-family: "Museo Slab";
  color: #aa6e47;
}



.navbar-toggler  {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  border: transparent;
}

.active {
  display: block;
}

.navbar-toggler{
  display: none;
}
// home styles

#home{
  background: url('./images/fondo_1.jpg');/* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  margin: 0;
  padding: 150px 0px 150px 0px;
 

  .home-octopus{
    max-width: 60%;
    height: auto;
  }

  .figure-home {
    position: relative;
    top: 200px;
    z-index: 100;
}
}


// home styles end





@media screen and (max-width: 990px) {


  #home {
    background: url(./images/fondo_1.jpg);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 80px 0px 150px 0px;
}
  

  .menu-nav-full{
    display: none;
  }
  .navbar-toggler{
    display: block;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 100px;
    align-items: center;
     padding: 0;

  }

  .navbar-collapse{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .nav-item-mobile {
    border-bottom: solid 1px;
   }
   .nav-link-mobile{
     margin-right: 5%;
     font-size: 42px;
    color: #aa6e47 !important;
    font-weight: 500;
   }
   .img-logo-container{
    display: none;

   }
   .oct-mobile{
    display: block;
    height: 60px;
    width: auto;
    margin-right: 75px;
    padding-bottom: 8px;
  }


.figure-home {
  position: relative;
  top: 50px;
  z-index: 100;
}

#home{
 
  .figure-home {
    position: relative;
    top: 100px;
    z-index: 100;

    .home-octopus{
      max-width: 80%;
      height: auto;
    }
}
}


  .container-nav{
    position: relative;
    padding: 14px;
    border-radius: 15px;
    margin-right: 15px;
    margin-left: 15px;
    background-color:   #aa6e47  ;
    height: 75px;
  }
  .navbar-collapse{
    z-index: 10;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
    height: 75px;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}


.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}